* {
  margin: 0;
  padding: 0;
  border: 0;
<<<<<<< HEAD
  text-decoration: none;
=======
>>>>>>> main
}

.container-app {
  background-color: #ede7ee;
}

.body {
  width: 80%;
<<<<<<< HEAD
  height: 100%;
  min-height: 100%;
=======
>>>>>>> main
  margin-left: 10%;
  background-color: white;
  box-shadow: 2px 6px 4px 3px #a899ac;
}
