* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  background-color: #ede7ee;
}

.container-app {
  background-color: #ede7ee;
  display: flex;
  justify-content: center;
}
