.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  height: 10vh;
  background: #6e3296;
  width: 100%;
};

.linkedin {
  background: transparent;
}

.github {
  height: 9vh;
  background: transparent;
}

.container-copyright {
  display: flex;
  align-items: center;
  font-size: larger;
  color: white;
}