.footer {
  background: radial-gradient(#4F78CA, #8040a9);
  justify-content: space-evenly;
  text-align: center;
  margin-top: 33%;
  display: flex;
  bottom: 0;
};

a {
  cursor: pointer;
}

.linkedin {
  font-size:22px;
  background: transparent;
}

.github {
  font-size:22px;
  background: transparent;
}