.footer {
  background: #6e3296;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 10%;
  display: flex;
};

.linkedin {
  margin: 7px;
  font-size:22px;
  background: transparent;
}

.github {
  margin: 3px;
  font-size:22px;
  background: transparent;
}