.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background: #6e3296;
}

.navbar-logo {
  color: white;
  font-size: x-large;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
