@media (min-width: 429px) {
    .pagination {
      display: flex;
    list-style: none;
    justify-content: center;
    margin: 1.2rem;
  }

  .pagination button {
    padding: 0.2rem 0.3rem;
  }

  .pagination__item--active {
    background: none;
    font-weight: bold;
    border: none;
  }

  .pagination__item--active:focus {
    outline: none;
  }
}

@media (max-width: 428px) and (max-height: 800px) {
  .pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 1.2rem;
  }

  .pagination button {
    padding: 0.2rem 0.3rem;
  }
}
