@media (min-width: 429px) {
  .container-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    width: 130vh;
    margin-top: 2vh;
    background-color: white;
    box-shadow: 1px 9px 6px 5px #a899ac;
  }

  .heading {
    margin-top: 4rem;
    color: #6e3296;
  }

  .heading-secondary {
    color: #6e3296;
  }

  .paragraph {
    margin-top: 1rem;
    font-size: large;
  }

  .paragraph-secondary {
    margin-top: 1rem;
    font-size: large;
  }
}

@media (max-width: 428px) and (max-height: 800px) {
  .container-posts {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  .container-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 20rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
  }

  .container-text {
    text-decoration: none;
    color: black;
    width: 21rem;
  }

  .heading {
    font-size: 1.4rem;
    width: 19rem;
    color: #6e3296;
    
  }

  .paragraph {
    margin-top: 2rem;
    width: 17rem;
    font-size: 1.1rem;
  }
  
  .heading-secondary {
    font-size: 1rem;
    color: #6e3296;
  }

  .paragraph-secondary {
    width: 20rem;
    font-size: 0.9rem;
  }

  .container-unicPost{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 20rem;
  }
}
